.custom-input {
  height: 3rem;
  padding: 0.8rem;
  font-size: 1.1rem;
}

.custom-card {
  background-color: rgb(180, 243, 180);
}

.custom-btn {
  height: 3rem;
  font-size: 1.2rem;
  background-color: rgb(73, 120, 73);
}

.custom-btn:hover {
  background-color: rgb(73, 120, 73);
}

.custom-img {
  width: 100%;
}

@media (max-width: 768px) {
  .custom-input {
    font-size: 80%;
  }

  .custom-btn {
    font-size: 80%;
  }
}
